@import 'labelthis-tools';

.browse {
    min-height: 80%;
}

.browse-group .row {
    margin-top: 30px;
    margin-bottom: 30px;
}

.view-group figure {
    min-height: 682px;
}

.browse-group {
    min-height: 800px;
}

/* Mark */


.rectangle-tool {

  // SHAPE STYLES
  .tool-shape {
      stroke-width: 3;
      stroke: rgba(100,100,0,1);
      fill: transparent;


      .transcribable {
	  stroke: rgb(67, 187, 253);
	  stroke-opacity: 1;
      }
      .interim {
	  opacity: 0.35;
      }

      // mark is committed and uneditable
      .committed {
	  cursor: default;
      }
      // mark has not yet been committed
      .uncommitted {
          stroke: #fc5424;
      }
  }
}

.rectangle-tool .tool-shape.committed.transcribable:hover {
      fill: rgba(55,58,204,.4);
      transition-delay: 0.0s;
}
