.transcribe-tool {

    position: absolute;
    min-width: 200px;
    max-width: 500px;
    background-color: rgba(255,255,255,0.75);
    cursor: move;
}
.draggable-modal {
    position: absolute;
    z-index: 20;
}

//-----------------------------------------------------
// Zoom UI styles, based on the ones on the ScribeAPI repo
.pan-zoom-controller {
    background: url('/images/zoom-button.svg') no-repeat center 4px;
    width: 28px;
    height: 30px;
    margin: 4px 0 0 -2px;
    padding: 0;
}

.zoom-button {
  z-index: 100;
  cursor: pointer;
  &:hover ~ .pan-zoom-area {
    display: block;
  }
}
.pan-zoom-area {
  &.active {
      display: block;
  }
  background-color: $labels-background-dark;

  display: none;
  width: 140px;
  height: 135px;
  left: 15px;
  top: 110px;
  border-radius: 4px;
  position: absolute;
  z-index: 99;
  &:before {
    content: ' ';
    border-radius: 4px;
    width: 60px;
    height: 70px;
    position: absolute;
    top: -7px;
    left: 36px;
    margin-top: -36px;
    margin-left: -36px;
    background: $labels-background-dark url('/images/zoom-button.svg') no-repeat center 4px;
  }
}

.subject-zoom-pan {
  width: 130px;
  height: 130px;
  border-radius: 4px;
  left: 5px;
  &:before {
    content: ' ';
    display: block;
    border: 1px solid $labels-background-dark;
    border-radius: 4px;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -36px;
    margin-left: -36px;
    background-color: $labels-background;
  }
  &:after {
    content: ' ';
    display: block;
    width: 70px;
    height: 0px;
    border-top: 1px solid $labels-background-dark;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -35px;
  }
}

.pan, .zoom, .reset {
  position:absolute;
  background: transparent;
  color: $labels-red;
  border: none;
  cursor: pointer;
  &.disabled {
    opacity: 0.4;
    cursor: default;
  }
}

.zoom {
  width:35px;
  height:35px;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  top: 50%;
  margin-top: -35px;
  left: 50%;
  &.in,
  &.out {
    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 35px;
      height: 35px;
      margin-left: -18px;
      margin-top: -18px;
    }
  }
  &.out {
    margin-left: -35px;
    &:before {
      content: '-';
      margin-top: -20px;
    }
  }
  &.in {
    margin-left: 0;
    border-left: 1px solid $labels-background-dark;
    border-radius: 0;
    &:before {
      content: '+';
    }
  }
}

.pan {
  &:before {
    content: ' ';
    display: block;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid $labels-red;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -6px;
  }
  &.up, &.down {
    width: 50px;
    height: 20px;
    left: 50%;
    margin-left:-25px;
  }
  &.up {
    top: 5px;
  }
  &.down {
    bottom: 5px;
    &:before {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
    }
  }
  &.left, &.right {
    width: 20px;
    height: 50px;
    top: 50%;
    margin-top:-25px;
  }
  &.left {
    left: 5px;
    &:before {
      transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
    }
  }
  &.right {
    right: 5px;
    &:before {
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
    }
  }
  &:hover {
    &:before {
      border-bottom: 12px solid $labels-focal;
    }
  }
}

.reset {
  width: 64px;
  height: 20px;
  top:50%;
  margin-top: 5px;
  left:50%;
  margin-left:-32px;
  font-size:14px;
}
.switch .toggle .tooltip {
    display:none;
    &.active {
      display: block;
    }
}

.approve-overlay {
  position: absolute;
  display: none;
  span {
    background-color: $labels-red;
    padding: .5em;
  }
}
.loading-indicator {
  text-align: center;
  margin: 6em 0 4em 0;
}
.ui-autocomplete, .ui-helper-hidden-accessible {
  display: none;
}
