
html {
    background: $body-background;
}
.browse {
    min-height: 80%;
}

.subject-set-toolbar-links {
    background: $body-background;
}

footer {
    background: $topbar-background;
    padding: 3em;
    min-height: 200px;
}

.browse-group .row {

    margin-top: 30px;
    margin-bottom: 30px;

}
.browse-group .column, .view-group .column {
    text-align: center;
    padding: 0;
}

.browse-group .column img, .view-group .column img {
    display: inline-block;
    margin: auto;
}

.view-group .column {
    min-height: 1200px;
}

.group {
    background: none;
    width: auto;
    height: auto;
    border: none;
    box-shadow: none;
}

.temp-browse {
    margin: 50px 200px;
}

.temp-browse-nav {
    margin: 20px 25%;
    text-align: center;
}
.temp-browse-nav button {
    margin: 0 2em;
}

.temp-view {
    margin: auto;
}

.temp-view img {
    display: block;
    margin: auto;
}