.browse {
    min-height: 80%;
}

.browse-group .row {
    margin-top: 30px;
    margin-bottom: 30px;
}

.view-group figure {
    min-height: 682px;    
}

.browse-group {
    min-height: 800px;
}



