<div id="about-page">
  <nav>
    <ul>
      <li><a href="#about-the-project" class="about-nav selected-content">About the Project</a></li>
      <li><a href="#about-help" class="about-nav" >How can you help?</a></li>
    </ul>
  </nav>

  <div id="about-the-project" class="selected-content" >
    <h2>FIXME</h2>
    <p>FIXME</p>
  </div>

  <div id="about-help" >
    <h2>Why we need you, and what we do with your work</h2>
    <p>FIXME</p>
  </div>

</div>
