<div class="title-container">
  <h1>Label this</h1>
  
  <div class="tagline">
    Wine labels, for labeling.
  </div>

  <div class="project-summary">
    Somebody drank it, we'll label it.
  </div>

  <div class="button-container">
    <a class="standard-button" href="/#/mark">
      Start Marking
      <span class="arrow">&#10146;</span>
    </a>
    <a class="standard-button" href="/#/transcribe">
      Start Transcribing
      <span class="arrow">&#10146;</span>
    </a>
  </div>
   
</div>
